
@mixin row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-right: -15px;
  margin-left: -15px;

  &--no-gutters {
    margin-right: 0;
    margin-left: 0;

    > div {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @each $key, $value in $breakpoints {
    @include respond-to($key) {
      flex-direction: row;

      &--align-start {
        align-items: flex-start;
      }

      &--align-end {
        align-items: flex-end;
      }

      &--align-center {
        align-items: center;
      }

      &--justify-center {
        justify-content: center;
      }

      &--justify-start {
        justify-content: flex-start;
      }

      &--justify-end {
        justify-content: flex-end;
      }

      &--space-around {
        justify-content: space-around;
      }

      &--space-between {
        justify-content: space-between;
      }
    }
  }
}
