.team-header {
  background-image: url('../assets/images/team-header-bg@2x.jpg');

  &__content {
    @extend .page-header__content;
    position: relative;
    height: rem(700);
    display: flex;
    align-items: center;

    @include respond-to-max(lg) {
      justify-content: center;
      text-align: center;
      height: rem(400);
    }

    @include respond-to-max(md) {
      display: block;
      height: rem(300);
    }

    &--done-enter {
      @extend .page-header__content--done-enter;
    }
  }

  &__title {
    padding-bottom: rem(8);
    font-weight: $font-weight-bold;
    letter-spacing: .5px;

    @include respond-to-max(md) {
      padding-top: rem(150);
    }
  }
}

.team-page-content {
  @extend .page-content;

  &--done-enter {
    @extend .page-content--done-enter;
  }
}

.team-section-members {
  padding: rem(79) 0 rem(123);

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-10);
  }

  &__list-item {
    width: 100%;
    padding: 0 rem(10);
    margin-bottom: rem(20);
    display: flex;

    @include respond-to(md) {
      width: 50%;
    }

    @include respond-to(lg) {
      width: 33.33%;
    }
  }
}
