.footer {
  background: $footer-bg-colour;
  padding: rem(90) 0 rem(197);
  @extend %body-type-xsmall;
  color: $footer-text-colour;

  a {
    color: $footer-text-colour;
  }

  &__address-info-wrapper {
    position: relative;
    padding-left: rem(62);

    @include respond-to-max(sm) {
      padding: 0;
    }
  }

  &__logo {
    position: absolute;
    top: rem(4);
    left: 0;
    width: rem(27);

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    @include respond-to-max(sm) {
      position: static;
      margin-bottom: rem(20);
    }
  }

  &__col {
    @include respond-to-max(lg) {
      margin-bottom: rem(40);
    }

    @include respond-to-max(sm) {
      margin-bottom: rem(30);
    }
  }

  @include respond-to-max(lg) {
    padding-bottom: rem(50);
  }

  @include respond-to-max(sm) {
    padding: rem(40) 0 0;
  }
}
