.menu {
  $c: &;

  &__item {
    display: inline-block;
    color: $black;
    font-size: rem(16);

    &:after {
      display: inline-block;
      content: '';
      margin: 0 rem(18);
      width: 1px;
      height: rem(15);
      background: #E0E1E5;
      opacity: .3;
      vertical-align: middle;
    }

    &:last-child:after {
      display: none;
    }

    & > a {
      color: inherit;
    }
  }

  &--inverted {
    #{$c}__item {
      color: $white;
    }
  }
}
