$white: #FFFFFF;
$black: #000000;
$mine-shaft: #393939;
$dusty-gray: #9C9C9C;
$silver-chalice: #ADADAD;
$alabaster: #F7F7F7;
$light-gray: #EBEBEB;
$blue: #4A90E2;
$bittersweet: #FE6766;
$regent-gray: #8095A5;

$primary-colour: $blue;
$text-colour: $dusty-gray;
$heading-colour: $mine-shaft;
$background-colour: $white;
$footer-bg-colour: $alabaster;
$footer-text-colour: $silver-chalice;
