$browser-context: 16 !default;
$gutter: 30px !default;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$containers: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;

$sizes: (
  '1': '8.333333%',
  '2': '16.666667%',
  '3': '25%',
  '4': '33.333333%',
  '5': '41.666667%',
  '6': '50%',
  '7': '58.333333%',
  '8': '66.666667%',
  '9': '75%',
  '10': '83.333333%',
  '11': '91.666667%',
  '12': '100%',
  'auto': 'auto'
) !default;
